@charset "utf-8";
html, body {
	padding: 0;
	margin: 0;
	font-family: '微软雅黑';
}
ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
img { }
button { cursor: pointer; }
body {
	width: 100%;
	background: #222222;
url(../images/0bg.gif) top repeat-x;
}
.out1 {
	background: #FFF;
	width: 1000px;
	margin: 0 auto;
}
.out_div1 { padding: 0 30px; }
.out2 {
	width: 100%;
	background: #EEEEEE;
}
.out_div2 {
	background: #fff;
	width: 1000px;
	margin: 0 auto;
}
.out_div2_in { padding: 0 30px; }
.out3 {
	width: 1000px;
	margin: 0 auto;
}
/*******************top_start*********************/
.top { height: 120px; backgr ound: url(../images/1title.gif) no-repeat;
}
.top .logo {
	float: left;
	height: 100%;
	width: 70%;
	background: url(../images/1title.gif) no-repeat;
}
.top .login {
	padding: 50px 0 0 0;
	float: right;
}
.top button {
	background: #fff;
	border: none;
	padding: 4px 4px 4px 28px;
	margin: 2px;
	 vertical-align:top;
}
.top button img {
	 vertical-align:top;
}
/*******************top_end ,bar_start*********************/
.bar {
	position: relative;
	z-index: 10;
	height: 40px;
 backgr ound: url(../images/2bar.gif) no-repeat;
	background: #1F1F1F;
}
.bar .home {
	width: 90px;
	text-align: center;
	background: #297DDA;
}
.bar .home h2 { border-left: none; }
.bar .call_me {
	width: 90px;
	text-align: center;
}
.bar .call_me h2 { border-right: none; }
.bar ul {
	float: left;
	height: 40px;
}
.bar h2 {
	cursor: pointer;
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
	padding: 0;
	margin: 0;
	line-height: 40px;
	border-left: #333333 solid 1px;
	border-right: #111111 solid 1px;
	background:url(../images/icon/icon_1_4.gif) 88px 18px no-repeat;
}
.bar h2 img { vertical-align: middle; }
.bar li { float: left; }
.bar_menu ul {
	height: 0;
	overflow: hidden;
	background: #FFF;
}
.bar_menu li {
	width: 110px;
	text-align: center;
	cursor: pointer;
}
.bar_menu ul li {  height:30px; line-height:30px; }
.bar input {
	color:#FFF;
	background:#1F1F1F;
 border-top:1px solid #000;
 border-right:1px solid #000;
 border-left:1px solid #333333;
 border-buttom:1px solid #333333;
 padding:2px 4px;
 margin:8px 14px 0 0;
 float:right;
 l ine-height:24px;heigh t:24px;
}


/*******************bar_end ,big_img_start*********************/
.big_img {
	position: relative;
	z-index: 9;
	height: 470px;
	width: 100%;
	overflow: hidden;
	background: url(../images/3img.gif) no-repeat;
}
.big_img ul { height: 100%; }
.big_img li {
	height: 100%;
	float: left;
	background: url(../images/3img.gif) right no-repeat;
}
.big_img button {
	height: 100%;
	float: left;
	background: url(../images/3img.gif) right no-repeat;
}
/*******************big_img_end ,business_start*********************/
.business { height: 244px; backg round: url(../images/4.gif) no-repeat;
}
.business div {
	height: 100%;
	float: left;
}
.business img {
	width: 40px;
	height: 40px;
	margin: 40px 0 6px 14px;
}
.business ul {
	width: 170px;
	height: 132px;
	background: #F5F5F5;
	border: #E5E5E5 solid 1px;
	margin-right: 40px;
}
.business span {
	font-weight: bold;
	display: block;
	margin: 6px 0 4px 10px;
	font-size: 12px;
}
.business li {
	line-height: 25px;
	font-size: 12px;
	width: 160px;
	float: left;
	padding-left: 10px;
}
/*******************big_img_end ,business_start*********************/
.kouhao {
	height: 115px;
	background: url(../images/5kouhao.gif) no-repeat;
}
.company { height: 340px; }
.company_title {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0 20px;
}
.company_left {
 height:;
	width: 70%;
	float: left;
 backgrou nd: url(../images/6left.gif) no-repeat;
}
.company_left div { padding: 20px; }
.company_left img {
	float: left;
	margin: 0 14px 4px 0;
}
.company_right {
	height: 300px;
	width: 30%;
	float: right;
	background: url(../images/6right.gif) no-repeat;
}
/*******************big_img_end ,business_start*********************/
.partners {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	height: 167px;
 backgr ound: url(../images/7.gif) center no-repeat;
}
.partners_title {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0 30px;
	position:relative;
}
.partners_imgs {
	margin: 16px 20px;
	overflow: hidden;
}
.partners ul {
	width: 200%;
	height: 90px;
}
.partners li {
	border: 1px solid #e5e5e5;
	width: 218px;
	height: 100%;
	margin: 0 10px;
	float: left;
}
.partners img { float: right; }
.partners button {
	padding: 0;
	background: none;
	border: none;
}
/*******************big_img_end ,business_start*********************/
.index_jump { height: 30px;  back ground: url(../images/7_gotop.gif) center no-repeat;
}
.index_jump button {
	background: #FFF;
	border: none;
	height: 100%;
	margin: 0 30px;
}
.index_jump .go_home { float: left; }
.index_jump .go_top { float: right; }
/*******************big_img_end ,business_start*********************/
/*******************big_img_end ,business_start*********************/
.about {
	color: #FFF;
	font-size: 12px;
	background: #111111;
	height: 200px;
}
.about_left {
	height: 200px;
	width: 50%;
	float: left;
 backg round: url(../images/8left.gif) right no-repeat;
}
.about_left dl {
	margin: 0;
	width: 33%;
	float: left;
}
.about_left dt {
	cursor: default;
	font-weight: bold;
	padding: 50px 0 4px 30px;
}
.about_left dd {
	padding: 0 0 0 30px;
	margin: 0;
	line-height: 24px;
}
.about_left dd a {
	color: #FFF;
	text-decoration: none;
}
.about_right {
	height: 200px;
	width: 50%;
	float: right;
 bac kground: url(../images/8right.gif) no-repeat;
	padding-top: 50px;
}
.about_right span {
	font-size: 12px;
	font-weight: bold;
}
.about_right p { line-height: 16px; }
.about_right button {
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	width: 145px;
	height: 35px;
	background: #222222;
	border: none;
	margin: 10px 16px 0 0;
	vertical-align: middle;
	padding-left: 30px;
}
.about_right button span {
	float: left;
	line-height: 35px;
}
.about_right button img { float: left; }
/*******************big_img_end ,business_start*********************/
.bottom {
	color: #FFF;
	font-size: 12px;
	height: 80px;
	padding: 20px 0 0 30px;
}
.bottom p { line-height: 12px; }
.bottom span { color: #F69C00; }




/*button_icon*/
